*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'Arimo', sans-serif;
  line-height: 1.5;
  color: #2c9fec; }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  background-color: #ffffff;
  scroll-behavior: smooth; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.scroll-disabled {
  overflow: hidden; }

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  height: 6.5rem;
  width: 100vw;
  padding: 0 3rem;
  border-bottom: 1px solid #d4d4d4;
  background-color: #ffffff;
  display: flex;
  align-items: center; }
  .main-header.open {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4); }
  .main-header__contacts {
    display: flex; }
    .main-header__contacts p {
      font-size: 1.8rem; }
      .main-header__contacts p a:link,
      .main-header__contacts p a:visited {
        text-decoration: none;
        color: inherit; }
      .main-header__contacts p:not(:last-child) {
        margin-right: 2rem; }
    @media only screen and (max-width: 1100px) {
      .main-header__contacts {
        display: none; } }
  .main-header__toggle-button {
    display: none; }
  @media only screen and (max-width: 1100px) {
    .main-header__toggle-button {
      display: block;
      border: none;
      background-color: transparent;
      width: 4rem;
      height: 4rem; }
      .main-header__toggle-button .bar {
        background-color: #2c9fec;
        width: 3.5rem;
        height: 0.3rem;
        margin: 0.7rem auto;
        transform: translate3d(0, 0, 0) rotate(0deg);
        transform-origin: left;
        backface-visibility: hidden;
        transition: transform 0.3s ease, opacity 0.3s ease; }
      .main-header__toggle-button.open .bar:nth-child(1) {
        transform: translate3d(0, -0.3rem, 0) rotate(45deg); }
      .main-header__toggle-button.open .bar:nth-child(2) {
        opacity: 0; }
      .main-header__toggle-button.open .bar:nth-child(3) {
        transform: translate3d(0, 0.1rem, 0) rotate(-45deg); } }
  .main-header__branding:link, .main-header__branding:visited {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.4rem;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit; }
    .main-header__branding:link:hover, .main-header__branding:visited:hover {
      opacity: 0.8; }
  .main-header__navigation {
    margin-left: auto; }
    @media only screen and (max-width: 1100px) {
      .main-header__navigation {
        position: fixed;
        top: 6.5rem;
        left: -100%;
        z-index: 50;
        width: 100%;
        height: calc(100vh - 6.5rem);
        background-color: #2c9fec;
        transition: left 0.3s ease;
        overflow: auto; }
        .main-header__navigation.open {
          left: 0; } }

.nav-list {
  list-style: none;
  display: flex; }
  .nav-list__item:not(:last-child) {
    margin-right: 3rem; }
  .nav-list__item > a {
    display: block;
    font-size: 1.6rem;
    text-decoration: none;
    color: inherit; }
    .nav-list__item > a:hover {
      opacity: 0.6; }
  @media only screen and (max-width: 1100px) {
    .nav-list {
      flex-direction: column; }
      .nav-list__item > a {
        padding: 3rem 5rem;
        color: #ffffff;
        font-size: 2.2rem; }
        .nav-list__item > a:hover {
          opacity: 1; }
      .nav-list__item:not(:last-child) > a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
      .nav-list__item:not(:last-child) {
        margin: 0; }
      .nav-list.open {
        left: 0; } }

.nav-contacts {
  display: none; }
  @media only screen and (max-width: 1100px) {
    .nav-contacts {
      display: block;
      color: #ffffff; }
      .nav-contacts::before {
        content: '';
        display: block;
        height: 1rem;
        background-color: rgba(255, 255, 255, 0.4); }
      .nav-contacts__desc {
        font-size: 2rem;
        margin: 2rem 0 1rem 5rem; }
      .nav-contacts__phone {
        margin-left: 5rem;
        font-size: 2.6rem; }
      .nav-contacts__icons {
        display: flex;
        margin: 1rem 0 2rem 0;
        padding-left: 5rem; }
        .nav-contacts__icons a:not(:last-child) {
          margin-right: 2.5rem; }
        .nav-contacts__icons svg {
          width: 4.5rem;
          height: 4.5rem;
          fill: #ffffff; } }

@media only screen and (max-width: 1080px) {
  .section-water,
  .section-coffee,
  .section-others,
  .section-contacts,
  .section-info {
    padding: 0 1.2rem; } }

.main-banner {
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 9rem; }
  @media only screen and (max-width: 1080px) {
    .main-banner {
      margin-top: 6.5rem; } }

.swiper-container {
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 9rem;
  border-radius: 5px;
  overflow: hidden; }
  @media only screen and (max-width: 1080px) {
    .swiper-container {
      margin-top: 5rem;
      border-radius: 0; } }
  .swiper-container img {
    max-width: 100%;
    max-height: 100%;
    display: block; }

.banner-container {
  border-radius: 6px;
  overflow: hidden; }
  @media only screen and (max-width: 1080px) {
    .banner-container {
      border-radius: 0; } }
  .banner-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: saturate(0.8); }

.section-water {
  max-width: 120rem;
  margin: 0 auto;
  color: #646464; }

.section-title {
  margin: 2rem 0;
  padding-left: 0.2rem;
  font-size: 2.4rem; }

.divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc; }

.water-list {
  list-style: none;
  margin-top: 2.5rem;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 1rem; }
  .water-list__item {
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative; }

.water-item__image {
  height: 30rem;
  padding: 1rem 0;
  background-color: #f1f1f1;
  overflow: hidden; }
  .water-item__image--img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto; }

.water-item__info-link {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 7rem;
  height: 10rem; }
  .water-item__info-link img {
    max-width: 100%;
    max-height: 100%;
    display: block; }

.water-item__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem; }
  .water-item__info h3,
  .water-item__info p {
    font-size: 2.4rem;
    color: #000; }
    @media only screen and (max-width: 400px) {
      .water-item__info h3,
      .water-item__info p {
        font-size: 2rem; } }

.water-item__more-label {
  display: flex;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.2s ease; }
  .water-item__more-label p {
    font-size: 2rem;
    margin-right: auto;
    color: #646464; }
  .water-item__more-label svg {
    width: 3.5rem;
    height: 3.5rem;
    fill: #646464;
    transition: transform 0.2s ease; }
  .water-item__more-label:hover {
    background-color: rgba(0, 0, 0, 0.1); }
    .water-item__more-label:hover p {
      color: #525252; }
    .water-item__more-label:hover svg {
      fill: #525252; }

.water-item__more-checkbox:checked ~ .water-item__more-label {
  background-color: rgba(0, 0, 0, 0.1); }

.water-item__more-checkbox:checked ~ .water-item__more-label > svg {
  transform: rotate(90deg); }

.water-item__more-checkbox:checked ~ .water-item__desc {
  height: 30rem; }

.water-item__desc {
  height: 0;
  overflow: auto;
  transition: height 0.4s ease-in-out; }

.water-item__desc-price {
  padding: 1rem 2rem;
  list-style: none; }
  .water-item__desc-price > li {
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.6rem; }
    .water-item__desc-price > li:hover {
      background-color: rgba(0, 0, 0, 0.1); }
    .water-item__desc-price > li:not(:last-child) {
      margin-bottom: 1rem; }

.water-item__desc-info {
  padding: 1rem 2.6rem;
  font-size: 1.5rem;
  line-height: 1.5; }
  .water-item__desc-info span {
    display: block; }
    .water-item__desc-info span:not(:last-child) {
      margin-bottom: 0.4rem; }
    .water-item__desc-info span:last-child {
      margin-bottom: 1rem; }

.section-coffee,
.section-others,
.section-contacts,
.section-info {
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  color: #646464; }

.goods-list {
  list-style: none;
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 1rem; }
  .goods-list__item {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden; }

.goods-item__figure {
  background-color: #f1f1f1;
  padding: 1rem 0;
  overflow: hidden;
  height: 24rem; }
  .goods-item__figure img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto; }

.goods-item__info {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: repeat(2, min-content); }
  .goods-item__info-title {
    grid-column: 1 / 2;
    padding: 1rem;
    align-self: center;
    font-size: 1.8rem;
    font-weight: 400;
    color: #000; }
  .goods-item__info-price {
    grid-column: 2 / 3;
    align-self: center;
    justify-self: end;
    padding-right: 1rem;
    font-size: 1.8rem;
    color: #000; }
    @media only screen and (max-width: 400px) {
      .goods-item__info-price {
        font-size: 1.6rem;
        font-weight: 700; } }
  .goods-item__info-desc {
    grid-column: 1 / 3;
    padding: 1rem;
    font-size: 1.4rem; }
    @media only screen and (max-width: 500px) {
      .goods-item__info-desc {
        font-size: 1.8rem; } }

.main-footer {
  border-top: 1px solid #d4d4d4;
  padding: 3rem 10rem;
  display: flex; }
  @media only screen and (max-width: 800px) {
    .main-footer {
      flex-flow: column; } }
  @media only screen and (max-width: 400px) {
    .main-footer {
      padding: 2rem 6rem; } }
  .main-footer > * {
    flex: 1; }
  .main-footer__contacts {
    color: #646464;
    border-right: 1px solid #d4d4d4;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 800px) {
      .main-footer__contacts {
        border-right: none;
        border-bottom: 1px solid #d4d4d4;
        padding-bottom: 2rem; } }
    .main-footer__contacts p:not(:last-child) {
      margin-bottom: 2rem; }
    .main-footer__contacts a:link,
    .main-footer__contacts a:visited {
      color: inherit;
      text-decoration: none;
      font-size: 2rem;
      transition: color 0.2s ease; }
      .main-footer__contacts a:link:hover, .main-footer__contacts a:link:active,
      .main-footer__contacts a:visited:hover,
      .main-footer__contacts a:visited:active {
        color: #2c9fec; }
  .main-footer__branding {
    color: #2c9fec;
    display: flex;
    flex-flow: column;
    align-items: center; }
    @media only screen and (max-width: 800px) {
      .main-footer__branding {
        padding-top: 1.5rem; } }
    .main-footer__branding p {
      font-size: 3rem;
      font-weight: 700; }
  .main-footer__links {
    list-style: none;
    display: flex; }
    .main-footer__links > li {
      margin: 2rem; }
      .main-footer__links > li svg {
        width: 4rem;
        height: 4rem;
        fill: rgba(100, 100, 100, 0.7);
        transition: fill 0.2s ease; }
        .main-footer__links > li svg:hover, .main-footer__links > li svg:active {
          fill: #2c9fec; }

.contacts-info {
  padding: 1rem; }
  @media only screen and (max-width: 600px) {
    .contacts-info {
      padding: 0; } }
  .contacts-info__title {
    padding: 1rem;
    font-size: 2rem;
    color: #2c9fec; }
  .contacts-info__list {
    list-style: none;
    padding: 0 2.5rem; }
    .contacts-info__list li {
      font-size: 1.6rem; }
      .contacts-info__list li::before {
        content: '';
        width: 6px;
        height: 6px;
        display: inline-block;
        background-color: #2c9fec;
        border-radius: 50%;
        margin-right: 1rem; }
      .contacts-info__list li:not(:last-child) {
        margin-bottom: 1rem; }

.section-info__content-title {
  font-size: 2.4rem;
  padding: 1rem; }

.section-info__content-text {
  font-size: 1.4rem;
  padding: 0 1rem; }
