*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'Arimo', sans-serif;
  line-height: 1.5;
  color: #2c9fec; }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  background-color: #ecf0f1; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.scroll-disabled {
  overflow: hidden; }

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  height: 6.5rem;
  width: 100vw;
  padding: 0 3rem;
  border-bottom: 1px solid #d5d9db;
  background-color: #ecf0f1;
  display: flex;
  align-items: center; }
  .main-header.open {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4); }
  .main-header__contacts {
    display: flex; }
    .main-header__contacts p {
      font-size: 1.8rem; }
      .main-header__contacts p:not(:last-child) {
        margin-right: 1rem; }
    @media only screen and (max-width: 1100px) {
      .main-header__contacts {
        display: none; } }
  .main-header__toggle-button {
    display: none; }
  @media only screen and (max-width: 1100px) {
    .main-header__toggle-button {
      display: block;
      border: none;
      background-color: transparent;
      width: 4rem;
      height: 4rem; }
      .main-header__toggle-button .bar {
        background-color: #2c9fec;
        width: 3.5rem;
        height: .3rem;
        margin: .7rem auto;
        transform: translate3d(0, 0, 0) rotate(0deg);
        transform-origin: left;
        backface-visibility: hidden;
        transition: transform .3s ease, opacity .3s ease; }
      .main-header__toggle-button.open .bar:nth-child(1) {
        transform: translate3d(0, -0.3rem, 0) rotate(45deg); }
      .main-header__toggle-button.open .bar:nth-child(2) {
        opacity: 0; }
      .main-header__toggle-button.open .bar:nth-child(3) {
        transform: translate3d(0, 0.1rem, 0) rotate(-45deg); } }
  .main-header__branding:link, .main-header__branding:visited {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.4rem;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit; }
    .main-header__branding:link:hover, .main-header__branding:visited:hover {
      opacity: .8; }
  .main-header__navigation {
    margin-left: auto; }
    @media only screen and (max-width: 1100px) {
      .main-header__navigation {
        position: fixed;
        top: 6.5rem;
        left: -100%;
        z-index: 50;
        width: 100%;
        height: calc(100vh - 6.5rem);
        background-color: #2c9fec;
        transition: left .3s ease;
        overflow: auto; }
        .main-header__navigation.open {
          left: 0; } }

.nav-list {
  list-style: none;
  display: flex; }
  .nav-list__item:not(:last-child) {
    margin-right: 3rem; }
  .nav-list__item > a {
    display: block;
    font-size: 1.6rem;
    text-decoration: none;
    color: inherit; }
    .nav-list__item > a:hover {
      opacity: .6; }
  @media only screen and (max-width: 1100px) {
    .nav-list {
      flex-direction: column; }
      .nav-list__item > a {
        padding: 3rem 5rem;
        color: #ecf0f1;
        font-size: 2.2rem; }
        .nav-list__item > a:hover {
          opacity: 1; }
      .nav-list__item:not(:last-child) > a {
        border-bottom: 1px solid rgba(236, 240, 241, 0.4); }
      .nav-list__item:not(:last-child) {
        margin: 0; }
      .nav-list.open {
        left: 0; } }

.nav-contacts {
  display: none; }
  @media only screen and (max-width: 1100px) {
    .nav-contacts {
      display: block;
      color: #ecf0f1; }
      .nav-contacts::before {
        content: '';
        display: block;
        height: 1rem;
        background-color: rgba(236, 240, 241, 0.4); }
      .nav-contacts__desc {
        font-size: 2rem;
        margin: 2rem 0 1rem 5rem; }
      .nav-contacts__phone {
        margin-left: 5rem;
        font-size: 2.6rem; }
      .nav-contacts__icons {
        display: flex;
        margin: 1rem 0 2rem 0;
        padding-left: 5rem; }
        .nav-contacts__icons svg {
          width: 4.5rem;
          height: 4.5rem;
          border-radius: 50%;
          fill: #ecf0f1; }
          .nav-contacts__icons svg:not(:last-child) {
            margin-right: 1rem; } }

.main-banner {
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 9rem; }
  @media only screen and (max-width: 1080px) {
    .main-banner {
      margin-top: 6.5rem; } }

.banner-container {
  border-radius: 6px;
  overflow: hidden; }
  @media only screen and (max-width: 1080px) {
    .banner-container {
      border-radius: 0; } }
  .banner-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.section-water {
  max-width: 120rem;
  margin: 0 auto;
  color: #646464; }

.section-title {
  margin: 2rem 0;
  padding-left: .2rem;
  font-size: 2.4rem; }

.divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc; }
